.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-form {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.form-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
}

.form-project-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.ant-row {
    margin-top: 24px;
}